*{
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin-top: 20vh;
}

.container-fluid {
    background: #e9ecef;
    overflow-x: hidden;
}

.navbar-brand {
    font-family: 'Baloo Bhai', cursive;
    font-size: 36px;
}

.nav-link:hover {
    background: #eee;
    color: #000 !important;
}

.nav-link {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.white-hover:hover {
    color: #fff !important;
}

.marquee h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bold;
    background: linear-gradient(to left, #ffc107, #da8320);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline;
    word-spacing: 5px;
}

.social-media-handles {
    display: flex;
}

.social-media-handles > div {
    text-align: center;
    margin-right: 70px;
}

.copyright-text {
    background: #6c757d;
    text-align: center;
}

footer {
    margin-top: 150px;
}