*{
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin-top: 20vh;
}
.container-fluid {
    background: #e9ecef;
    overflow-x: hidden;
}

.container {
    box-shadow: 0px 3px 5px 3px #eee;
}

.navbar-brand {
    font-family: 'Baloo Bhai', cursive;
    font-size: 36px;
}

.nav-link:hover {
    background: #eee;
    color: #000 !important;
}

.nav-link {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.white-hover:hover {
    color: #fff !important;
}